
<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 12px;">
            <div class="topan-section-shadow sidebar">
                <%- include('./side.html') %>
                <% if(isadmin){ %>
                    <a class="topan-menu-option" href="/admin/<%= blogConfig.blogId %>/edit"><i class="fa fa-solid fa-edit"></i>&nbsp;&nbsp;编辑</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="column-four-fifth">
        <div style="padding-left: 12px;">
            <div class="topan-section-shadow article">
            </div>
        </div>
    </div>
</div>