*:not(.topan-header *,.article *,.article-nophoto *,i,.count-message,.bigtitle){
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Source Han Sans SC,Noto Sans CJK SC,Microsoft YaHei,WenQuanYi Micro Hei,WenQuanYi Zen Hei,Helvetica Neue,Arial,sans-serif;
}
@font-face{
    font-family: font-firacode;
    src: url("./FiraCode-Regular.ttf");
}
@font-face{
    font-family: font-LXGW;
    src: url("./LXGWWenKai-Bold.ttf");
}
@font-face{
    font-family: font-NOTO;
    src: url("./noto-serif-sc-chinese-simplified-400-normal.ttf");
}
code,pre.ace_editor{
    font-family: "font-firacode";
}
pre:not(.remove-style,.ace_editor){
    border-radius: 10px;
    background-color: #e7e7e7;
}
.hljs{
    border-radius: 10px;
    background-color: #e7e7e7;
}

.topan-header *:not(i){
    font-family: "font-NOTO" !important;
}
.count-message{
    font-family: "font-NOTO" !important;
}

a:not(.topan-header a,.topan-menu-option,.topan-footer a){
    color: black;
}
a:not(.topan-header a,.topan-menu-option,.topan-footer a):hover{
    color: var(--topan-colors-stress) !important;
}
a:not(.topan-header a,.topan-menu-option,.topan-footer a):hover::after{
    width: 0 !important;
}